# Root level dockerignore
node_modules
npm-debug.log

# Git
.git
.gitignore
.gitattributes

# Documentation
README.md
docs

# CI/CD
.github
.gitlab-ci.yml
.woodpecker.yml

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Logs
*.log
